@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
html{
    height:100%;
    width:100%;
}

body{
    height:100%;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;

    background: rgb(237, 190, 255);
}

#calculator{
    height:500px;
    width:300px;
    border: 5px solid rgb(23, 35, 53); 
    border-radius: 10px;
    position:relative;


    background: rgba(15,23,34,255);
}

#top{
    height:35%;
    width:300px;
    position:absolute;
}

#display{
    height:auto;
    width:300px;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    
    text-align: right;
    font-size: 35px;
    color : rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    
}

#bottom{
    height:65%;
    width:300px;
    position:absolute;
    bottom: 0;

    background: rgba(29,41,58,255);

    display:flex;
    justify-content: center;
    align-items: center;
}

#buttons-grid{
    height:auto;
    display:flex;
    flex-direction: column;
}

#operations{
    height: 100%;
    width: 100%;
    display:flex; 
    flex-direction: column;
    justify-content: center;
}

.row{
    display: flex;
}

.button{
    background: rgba(53,67,87,255);
    color: rgb(255, 255, 255);
    width: 50px;
    height: 50px;
    margin: -1px;

    border-style: solid;
    border-color: rgba(12, 18, 34, 0.616);
    
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;

    text-align: center;
    vertical-align: center;
    line-height:45px;
}

.button:hover{
    background: rgba(108,99,255,255);
}


.reset{
    background: rgb(241, 55, 55);
}

.equal{
    width:104px;
    background: rgb(241, 139, 55);
}

.zero{
    width:104px;

}